


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


body{
 background-color: #000000;

}


header h1 a{
    float: left;
    margin-right: 430px;
    margin-top: 6px;
    padding: 20px;
    color: #E7E7E7;
    
   
    
}

header{
    height: 100px;
   border-bottom: 2px solid #C3C3C3;
}

header nav ul li{
   float: left;
   padding: 32px 58px 34px 54px; 
}

header nav ul li a{
    font-size: 16px;
    color: #E7E7E7;
    padding: 5px 10px;
}

.bld{
    font-weight: bold ;
}

main h2{
    color: #FFFFFF;
    font-size: 128px;
    padding: 38px 66px;
    margin-right: 20px;
    letter-spacing: 130px;
}


.bolo{
    width: 678px;
}

.bolo p:first-child{
    margin-bottom: 20px;
}

.float{
    float: left;
}

.pirveli{
    margin-right: 132px;
}

.meore{
    margin-right: 132px;
}
 
.samwertili::after{
    content: "...";
}

.centri{
    width: 1250px;
    margin: 50px auto;
    color: #E7E7E7;

}
   


.xazi{
    border-bottom: 2px solid #C3C3C3;
    margin-top: 250px;
}


.konteineri{
    padding: 94px 12px;
}

.konteineri article h2 a{
    font-size: 20px;
    color: #E7E7E7;
}

article{
    width: 33.33%;
    float: left;
    padding: 14px;
    
}

article .statiaimg{
    width: 100%;
    height: 628px;
    overflow: hidden;
}



article .statiaimg img{
    width: 100%;

}

article h2{
    font-size: 20px;
    margin: 50px 10px;
    padding: 5px 10px;
}






/*------------ meore gverdi css-------- */

.yuti{
    width: 68%;
    height: 700px;
    float: left ;
    padding-left: 60px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center ;

}



.boxmeore{
    width: 200px;
    height: 270px;
    
}

h3{
   padding-left: 68px;
    color: #FFFFFF;
}


.rigttext{
    width: 272px;
    height: 132px;
    color: #FFFFFF;
   float: right;
    margin-top: 100px;
    margin-right: 122px;
    
    

}



.knvrt {
    
    padding: 30px;
    
}

.cvili{
    padding: 30px;
    
}



/* -----------    mesame        -------------- */

   .mesameimg img{
    width: 400px;
    height: 540px;
    float: left;
    margin-left: 60px;
    margin-top: 90px;
   }

    .axlave{
        float: left;
        margin-top: 600px;
        margin-left: 24px;
    }

    .yvitelo{
        float: left;
        margin-top: 90px;
        margin-left: -200px;
    }

    .fasebi{
        color: #FFFFFF;
        float: left;
        margin-top: 168px;
        margin-left: -340px;
    }

    .wertilebi{
        width: 20px;
        height: 20px;
        float: left;
        margin-top: 210px;
        margin-left: -190px;
        background-color: #F6B058;
        border-radius: 50%;
    }

    .wertilebi2{
        width: 20px;
        height: 20px;
        float: left;
        margin-top: 210px;
        margin-left: -150px;
        background-color: #3E93F6;
        border-radius: 50%;

    }

    .wertilebi3{
        width: 20px;
        height: 20px;
        float: left;
        margin-top: 210px;
        margin-left: -110px;
        background-color: #E8E8E8;
        border-radius: 50%;

    }

    .wertilebi4{
        width: 20px;
        height: 20px;
        float: left;
        margin-top: 210px;
        margin-left: -70px;
        background-color: #FF7070;
        border-radius: 50%;
        
    }

  
    
   










/* ====================   footer     ================== */

.gamyofi{
    border-top: 2px solid #C3C3C3;
    margin-top: 750px;
}

footer img{
    width: 100px;
    height: 100px;
    padding: 20px;
}


.tanabari{
    width: 1318px;
    margin: -78px auto;
    color: #E7E7E7;
 

}

.dasasruli{
    font-size: 26px;
}

.dasasruli2{
    font-size: 18px;
}




