*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


body{
 background-color: #000000;

}


header h1 a{
    float: left;
    margin-right: 500px;
    margin-top: 38px;
    color: #E7E7E7;
    
   
    
}

header{
    height: 100px;
   border-bottom: 2px solid #C3C3C3;
}

header nav ul li{
   float: left;
   padding: 38px 64px 40px 60px; 
}

header nav ul li a{
    font-size: 16px;
    color: #E7E7E7;
}



main h2{
    color: #FFFFFF;
    font-size: 128px;
    padding: 38px 66px;
    margin-right: 20px;
    letter-spacing: 130px;
}


main .afisha{
    float: left;
    padding: 60px;
}

main .dro{
    color: #E7E7E7;
    float: left;
    margin-right: 130px;
    margin: 30px;

}



main .tarigi{
    color: #E7E7E7;
    
  
    
}

main .text{
    color: #E7E7E7;
    
   
}

main .text2{
    color: #E7E7E7;
    margin: 60px;
   
}

.xazi{
    border-bottom: 2px solid #C3C3C3;
    margin-top: 250px;
}


.konteineri{
    padding: 94px 12px;
}

.konteineri article h2 a{
    font-size: 20px;
    color: #E7E7E7;
}

article{
    width: 33.33%;
    float: left;
    padding: 14px;
    
}

article .statiaimg{
    width: 100%;
    height: 628px;
    overflow: hidden;
}



article .statiaimg img{
    width: 100%;

}

article h2{
    font-size: 20px;
    margin: 50px 10px;
}

.gamyofi{
    border-top: 2px solid #C3C3C3;
    margin-top: 750px;
}

footer img{
    width: 100px;
    height: 100px;
    padding: 20px;
}

footer .dasasruli{
    color: #E7E7E7;
    float:right;
    margin-right: 1300px;
    font-size: 30px;
    
}

footer .dasasruli2{
    color: #E7E7E7;
    float:right;
    margin-right: 1300px;
    margin-top: -40px;
    font-size: 15px;
    
}